#chat-bot{
width:100%;
height:800px;
background-color:#FFF8E7;
text-algin:center;
}
#talk-app{
width:100%;
height:800px;
background-color:#FFF8E7;
text-algin:center;
}
#games{
width:100%;
height:800px;
background-color:#FFF8E7;
text-algin:center;
}
