#chat-bot{
width:100%;
height:800px;
background-color:#FFF8E7;

}
#talk-app{
width:100%;
height:800px;
background-color:#FFF8E7;
}
#games{
width:100%;
height:800px;
background-color:#FFF8E7;
}